<nav class="z-10 w-full bg-slate-900 px-6 sticky top-0 flex">
    <a href="" class="group w-min px-3 py-4 flex gap-x-0.5 text-xl text-white font-bold uppercase font-serif bg-purple-600">
        <span>N</span>
        <span class="hidden group-hover:inline-block">E</span>
        <span>F</span>
        <span class="hidden group-hover:inline-block">O</span>
        <span class="hidden group-hover:inline-block">N</span>
        <span class="hidden group-hover:inline-block">F</span>
        <span class="hidden group-hover:inline-block">O</span>
    </a>
    <div class="flex grow justify-end gap-x-2">
        <a class="flex text-white px-2 py-4 bg-purple-600 items-center justify-center" href="https://www.linkedin.com/in/nefonfo/" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin h-8 w-8 transform scale-100 hover:scale-125 transition-transform ease-in-out duration-300" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                <path d="M8 11l0 5"></path>
                <path d="M8 8l0 .01"></path>
                <path d="M12 16l0 -5"></path>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
             </svg>
        </a>
        <a class="flex text-white px-2 py-4 bg-purple-600 items-center justify-center" href="mailto:victorarmenta30@gmail.com" aria-label="Email">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail h-8 w-8 transform scale-100 hover:scale-125 transition-transform ease-in-out duration-300" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                <path d="M3 7l9 6l9 -6"></path>
            </svg>
        </a>
    </div>
</nav>